.container_flugi{
/* position: relative; */
background-color: none;
}

.flugi_float{
position: relative;
}

.flugi{
position: relative;
top: -190vh;
width: 60%;
z-index: 4;
}

.wolken{
    /* display: none; */
    z-index: 1;
    position: absolute;
    top: -150vh;
    right: 0;
}
.wolke1{
    position: relative;
    left: 10vw;
    /* padding-top: 10vh; */
    width: 30%;
    
}
.wolke2{
    position: relative;
    
    width: 20%;
    
}


/* Fragen & Switcher */
#containerFrage5{
    position: absolute;
    top: -150vh;
    left: 10vw;
    width: 20%;
    z-index: 5;
    
}
#frage_switcher5{
    position: absolute;
    top: -100vh;
}
