.lastwagen_container{
position: relative;
}

.lastwagen{
    position: relative;
    left: -80vw;
    top: 20vh;
    width: 60%
}

.auto{
      position: absolute;
      width: 30%;
      top: 280vh;
      right: 20vh;
      z-index: 4;
}

.button_lastwagen{
    position: relative;
    top: -30vh;
    left: -20vw;
    z-index: 10;
}

/* Fragen & Switcher */
#containerFrage4{
    position: absolute;
    left: -75vw;
    top: 35vh;
    width: 20%;
    z-index: 2;
    
}
#frage_switcher4{
    position: absolute;
    left: -10vw;
    top: 10vh;
}