.litfass{
    position: absolute;
    width: 30%;
    top: 280vh;
    left: 10vw;
    z-index: 4;
}

.litfass_vordergrund{
    position: absolute;
    top: 310vh;
    z-index: 6;
    width: 100%;
    transform: scale(1.2);
}
.litfass_vordergrund2{
    position: absolute;
    top: 310vh;
    z-index: 6;
    width: 100%;
    transform: scale(1.2);
}

.menschenmenge{
    position: absolute;
    top: 280vh;
    z-index: 3;
    /* filter: blur(18px); */
}
.menschenmenge2{
    position: absolute;
    top: 280vh;
    z-index: 3;
}

.button_litfass {
    position: absolute;
    left: 50%;
    top: 300vh;
    z-index: 8;
}

/* Fragen & Switcher */
#containerFrage2{
    position: absolute;
    top: 300vh;
    left: 17.5vw;
    width: 17%;
    z-index: 5;
    transform: scale(0.7);
    
}
#frage_switcher2{
    position: absolute;
    top: 350vh;
    left: 40vw;
    z-index: 7;
}