.schreimann {
    position: absolute;
    width: 30%;
    top: 290vh;
    left: 50vw;
    z-index: 1;
    transform: scale(0.5);
    transform-origin: center;
}

.strasse {
    position: absolute;
    top: 300vh;
    z-index: 0;
    width: 100%;
    transform: scale(0.5);
    transform-origin: center;
}

.laternen {
    width: 100vw;
    position: absolute;
    top: 270vh;
    z-index: 0;
    transform: scale(0.5);
    transform-origin: center;
}

.button_schreimann {
    position: absolute;
    left: 20%;
    top: 200vh;
    z-index: 8;
    transform: scale(0.5);
    transform-origin: center;
}

/* Fragen & Switcher */
#containerFrage3{
    position: absolute;
    width: 20%;
    top: 300vh;
    left: 50vw;
    z-index: 2;
    transform: scale(0.5);
    transform-origin: center;
    rotate: 45deg;
}
#frage_switcher3{
    position: absolute;
    left: 30%;
    top: 200vh;
    z-index: 8;
}