body{
    margin: 0;
    padding: 0;
}

.bahnhof {
    position: absolute;
    left: 0%;
    top: -146%;
    right: 0%;
    bottom: 0%;
    background-image: url(../images/Bahnhof.png);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}